{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	{% for shop in shop %}
		<a href = "{{url_for('showMenu', shop_id = shop.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 shop-list">
						<h3>{{shop.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
